@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: min(90%, 500px);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.numbers div {
    background-color: #000;
    color: white;
    font-size: 2rem;
    padding: 20px;
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
    user-select: none;
}